@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background-color: #f3f6f5;
  --secondary-background-color: #85c1b7;
  --tertiary-background-color: #427087;

  --primary-text-color: #1d3444;
  --secondary-text-color: #f3f6f5;
  --tertiary-text-color: #f3f6f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background-color: #427087;
    --secondary-background-color: #afcacc;
    --tertiary-background-color: #85c1b7;

    --primary-text-color: #f3f6f5;
    --secondary-text-color: #f3f6f5;
    --tertiary-text-color: #f3f6f5;
  }
}

body {
  background-color: var(--primary-background-color);
  font-family: 'Nunito Sans', sans-serif;
}
